.btnCreatePost,
.btnCreateSubreddit {
  margin-top: 5px;
}
.btnCreatePost:disabled {
  opacity: 0.5;
}

.post-form {
  margin: 2px;
}

.comment-notification {
  margin-top: 5px;
}

.create-post-container {
  margin-top: 10px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
  border-radius: 4px;
  padding: 5px;
}

.btnDiscard {
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  margin-top: 5px;
  color: #0079d3;
  background-color: transparent;
}

.create-post-heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #1c1c1c;
  -ms-flex: 1;
  flex: 1;
}

.btnCreatePost {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
}

.form-check {
  position: relative;
  display: block;
  padding-left: 1.25rem;
  margin-top: 0.8rem;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.votebox {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 1em;
}

.votesection {
  margin: 0px;
  background-color: #ffffff;
}
.upvote,
.downvote {
  cursor: pointer;
  border-radius: 2px solid;
}
.upvote:hover {
  color: green;
}
.downvote:hover {
  color: red;
}

.votecount {
  font-weight: bold;
}

.post {
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
  border-radius: 4px;
  padding: 5px;
}

.btnCommments {
  border-radius: 2px solid;
  color: #878a8c;
  opacity: 1;
}

.btnCommments:hover {
  opacity: 0.65;
  cursor: pointer;
}

.btnAwards {
  border-radius: 2px solid;
  color: #878a8c;
  opacity: 1;
}

.btnAwards:hover {
  opacity: 0.65;
  cursor: pointer;
}

.post-title {
  font-size: 24px;
  font-weight: 500;
  opacity: 1;
}

.posturl,
.postname {
  color: black;
}

.subreddit-text {
  font-weight: bold;
}

.post-text {
  margin-top: 10px;
  font-weight: 500;
}
.sidebar {
  width: 312px;
  height: 200px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnCreatePost,
.btnCreateSubreddit {
  background-color: #0079d3;
  border-color: #0079d3;
  color: aliceblue;
  fill: #0079d3;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: uppercase;
  padding: 3px 16px;
  opacity: 1;
  width: 288px;
  height: 34px;
  margin-top: 15px;
}

.btnCreateSubreddit {
  margin-top: 5px;
  color: #0079d3;
  background-color: transparent;
}

.sidebar > ul > li {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #1c1c1c;
}

/* .username {
  margin-top: 100px;
} */

/* .subreddit-info {
  margin-top: 20px;
} */

.account-icon {
  border-radius: 4px;
  float: left;
  margin-right: 5px;
  max-height: 24px;
  max-width: 24px;
}

.sidebar-view-subreddit {
  width: 312px;
  height: 260px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar-view-user {
  width: 312px;
  --post-line-color: #ccc;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
  color: #878a8c;
  position: relative;
  border-radius: 4px;
  padding: 5px;
  padding-top: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-subreddit-view {
  color: #0079d3;
}
