<div class="container">
  <div><h1>List of Communities</h1></div>
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <div class="card" style="width: auto; margin-bottom: 1rem">
            <img
              class="card-img-top"
              src="https://thumbor.forbes.com/thumbor/711x473/https://specials-images.forbesimg.com/imageserve/1156260993/960x0.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">r/Cricket</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                A commmunity for cricket lovers
              </h6>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Subscribe</a>
              <a href="#" class="card-link">Open Community</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: auto; margin-bottom: 1rem">
            <img
              class="card-img-top"
              src="https://cdn.britannica.com/s:800x1000/51/190751-050-147B93F7/soccer-ball-goal.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">r/Football</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                A commmunity for Football lovers
              </h6>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Subscribe</a>
              <a href="#" class="card-link">Open Community</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card" style="width: auto; margin-bottom: 1rem">
            <img
              class="card-img-top"
              src="https://cdn.britannica.com/s:800x1000/51/190751-050-147B93F7/soccer-ball-goal.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">r/Football</h5>
              <h6 class="card-subtitle mb-2 text-muted">
                A commmunity for Football lovers
              </h6>
              <p class="card-text">
                Some quick example text to build on the card title and make up
                the bulk of the card's content.
              </p>
              <a href="#" class="card-link">Subscribe</a>
              <a href="#" class="card-link">Open Community</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar">
        <img
          src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png"
        />
        <div style="text-align: center; font-size: 1em">
          Welcome to Blog Application home page. Come here to check in with your
          favorite subreddits.
        </div>
        <div style="text-align: center">
          <a routerLink="/create-post">
            <button class="btnCreatePost">Create Post</button></a
          >
        </div>
        <div style="text-align: center">
          <a routerLink="/create-community">
            <button class="btnCreateSubreddit">Create Community</button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
