<div class="container">
  <div class="row">
    <div>
      <nav
        class="navbar navbar-light bg-light shadow rounded"
        style="
          margin-top: 10px;
          margin-bottom: 20px;
          border: 1px solid #e9ecef;
          margin-left: 170px;
        "
      >
        <span class="navbar-brand">
          <span class="navbar-brand mb-0 h1">Search Communities: </span>
          <span
            ><input
              style="margin: auto"
              type="text"
              [(ngModel)]="listFilter"
              placeholder="Search"
          /></span>
        </span>
      </nav>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div
          class="col-md-6"
          *ngFor="let community of filteredCommunities | reverse"
        >
          <div
            class="card shadow rounded text-center"
            style="width: auto; margin-bottom: 1rem"
          >
            <img
              class="card-img-top"
              src={{community.imageUrl}}
              height="250px"
              alt="Card image cap"
            />
            <div class="card-body">
              <h4 class="card-title">
                <strong>r/{{ community.title }} <span *ngIf="community.posts.length === 0" class="badge badge-primary ml-2">New</span></strong>
              </h4>

              <p class="card-text">
                {{ community.communityDescription }}
              </p>

              <hr />

              <p class="card-text">
                Total Members: {{ community.totalMembers }}
              </p>

              <p class="card-text">Total Posts: {{ community.posts.length }}</p>

              <hr />
              <div>
                <button
                  class="card-link btn btn-sm btn-primary"
                  (click)="joinCommunity(community.communityId)"
                  *ngIf="!joinedCommunities.includes(community.title)"
                >
                  Join <fa-icon [icon]="faPlus"> </fa-icon>
                </button>
                <button
                  class="card-link btn btn-sm btn-outline-primary disabled"
                  (click)="leaveCommunity(community.communityId)"
                  *ngIf="joinedCommunities.includes(community.title)"
                >
                  Joined <fa-icon [icon]="faCheck"> </fa-icon>
                </button>

                <button
                  [routerLink]="['/community', community.title.toLowerCase()]"
                  class="card-link btn btn-sm btn-primary"
                >
                  Open Community <fa-icon [icon]="faExternalLinkAlt"> </fa-icon>
                </button>
                <button
                  (click)="deleteCommunity(community.communityId)"
                  class="card-link btn btn-sm btn-danger"
                  style="margin-top: 10px"
                  *ngIf="showAdminBoard"
                >
                  Delete Community <fa-icon [icon]="faTrash"> </fa-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar shadow rounded">
        <img
          src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png"
          style="width: 100%"
          alt="reddit-banner"
        />
        <div
          style="
            text-align: center;
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 10px;
          "
        >
          Welcome to Blog Application. Come here to check in with your favorite
          communities
          <div style="text-align: center">
            <a routerLink="/create-post">
              <button class="btnCreatePost">Create Post</button></a
            >
          </div>
          <div style="text-align: center; margin-top: 5px">
            <a routerLink="/create-community">
              <button class="btnCreateSubreddit">Create Community</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
