<div class="container">
  <div class="row">
    <div class="col-md-9 col">
      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron shadow rounded" style="border: 2px solid #0069d9">
            <h1 class="display-4 text-center">Welcome to Blog Application!</h1>
            <p class="lead">
              Blog Application is a community-determined aggregator of content.
              It is a social platform where users submit posts that other users
              ‘upvote’ or ‘downvote’ based on if they like it.
            </p>
            <hr class="my-4" />
            <p>
              Users can create communities, posts as well as comments and
              participate in the discussion of their favorite community!
            </p>
            <p class="lead text-center" *ngIf="!isLoggedIn">
              <a class="btn btn-primary btn-lg" routerLink="/signup" role="button">Sign Up</a>
            </p>
          </div>
        </div>

        <nav class="navbar navbar-light bg-light shadow rounded" style="border: 1px solid #e9ecef">
          <span class="navbar-brand mb-0 h1">Recent Communities</span>
        </nav>

        <div class="row text-center" style="margin-bottom: 1rem; margin-top: 15px">
          <div class="col-sm-4" *ngFor="let community of communities">
            <div class="card h-100 shadow rounded" style="width: auto; margin-bottom: 1rem">
              <img class="card-img-top" src="{{ community.imageUrl }}" alt="Card image cap" />
              <div class="card-body">
                <h4 class="card-title text-center">
                  <strong>r/{{ community.title }}<span *ngIf="community.posts.length === 0"
                      class="badge badge-primary ml-2">New</span></strong>
                </h4>
                <h5 class="card-subtitle mb-2 text-muted">
                  Total Members: {{ community.totalMembers }} &nbsp; &nbsp;
                  &nbsp; Total Posts:
                  {{ community.posts.length }}
                </h5>
                <hr />
                <p class="card-text">
                  {{ community.communityDescription }}
                </p>
              </div>
              <div class="card-footer text-center">
                <button [routerLink]="['/community', community.title.toLowerCase()]"
                  class="card-link btn btn-sm btn-primary">
                  Open Community <fa-icon [icon]="faExternalLinkAlt"> </fa-icon>
                </button>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="sidebar shadow rounded">
        <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png" style="width: 100%"
          alt="reddit-banner" />
        <div style="
            text-align: center;
            font-size: 1em;
            margin-bottom: 10px;
            margin-top: 10px;
          ">
          Welcome to Blog Application. Come here to check in with your favorite
          communities
          <div style="text-align: center">
            <a routerLink="/create-post">
              <button class="btnCreatePost">Create Post</button></a>
          </div>
          <div style="text-align: center; margin-top: 5px">
            <a routerLink="/create-community">
              <button class="btnCreateSubreddit">Create Community</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>